USE [master]
GO
/****** Object:  Database [group8b]    Script Date: 10/16/2014 11:07:15 AM ******/
CREATE DATABASE [group8b]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'group8b', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\group8b.mdf' , SIZE = 3328KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'group8b_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\group8b_log.LDF' , SIZE = 5248KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [group8b].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [group8b]
GO
/****** Object:  StoredProcedure [dbo].[Sprtlogin]    Script Date: 10/16/2014 11:07:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[Sprtlogin](@Usename Varchar (20),@Password varchar (10))  
as  
Begin  
Select COUNT(*)from Users where name=@Usename and password=@Password  
End  
GO
/****** Object:  Table [dbo].[BookingInfo]    Script Date: 10/16/2014 11:07:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MemberID] [int] NOT NULL,
	[SportID] [int] NOT NULL,
	[FacilityID] [int] NOT NULL,
	[SlotID] [int] NOT NULL,
	[DateIssue] [datetime] NULL,
	[Status] [nvarchar](15) NULL,
 CONSTRAINT [PK__BookingI__3214EC27145C0A3F] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Facility]    Script Date: 10/16/2014 11:07:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facility](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SportID] [int] NOT NULL,
	[CourtCode] [nvarchar](15) NOT NULL,
	[CourtName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Members]    Script Date: 10/16/2014 11:07:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](255) NULL,
	[PostalCode] [nvarchar](10) NULL,
	[PhoneNumber] [nvarchar](10) NOT NULL,
	[Email] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Slots]    Script Date: 10/16/2014 11:07:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slots](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FacilityID] [int] NULL,
	[TimeFrom] [time](0) NOT NULL,
	[TimeTo] [time](0) NOT NULL,
 CONSTRAINT [PK__Slots__3214EC270F975522] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sports]    Script Date: 10/16/2014 11:07:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sports](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[SportType] [nvarchar](10) NULL,
	[Size] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/16/2014 11:07:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](25) NOT NULL,
	[ConfirmPassword] [nvarchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[BookingInfo]  WITH CHECK ADD  CONSTRAINT [BookingInfo_Facitliy_FK] FOREIGN KEY([FacilityID])
REFERENCES [dbo].[Facility] ([ID])
GO
ALTER TABLE [dbo].[BookingInfo] CHECK CONSTRAINT [BookingInfo_Facitliy_FK]
GO
ALTER TABLE [dbo].[BookingInfo]  WITH CHECK ADD  CONSTRAINT [BookingInfo_Members_FK] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Members] ([ID])
GO
ALTER TABLE [dbo].[BookingInfo] CHECK CONSTRAINT [BookingInfo_Members_FK]
GO
ALTER TABLE [dbo].[BookingInfo]  WITH CHECK ADD  CONSTRAINT [BookingInfo_Slots_FK] FOREIGN KEY([SlotID])
REFERENCES [dbo].[Slots] ([ID])
GO
ALTER TABLE [dbo].[BookingInfo] CHECK CONSTRAINT [BookingInfo_Slots_FK]
GO
ALTER TABLE [dbo].[BookingInfo]  WITH CHECK ADD  CONSTRAINT [BookingInfo_Sports_FK] FOREIGN KEY([SportID])
REFERENCES [dbo].[Sports] ([ID])
GO
ALTER TABLE [dbo].[BookingInfo] CHECK CONSTRAINT [BookingInfo_Sports_FK]
GO
ALTER TABLE [dbo].[Facility]  WITH CHECK ADD  CONSTRAINT [Facility_Sport_FK] FOREIGN KEY([SportID])
REFERENCES [dbo].[Sports] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Facility] CHECK CONSTRAINT [Facility_Sport_FK]
GO
ALTER TABLE [dbo].[Slots]  WITH CHECK ADD  CONSTRAINT [Slots_Facility_FK] FOREIGN KEY([FacilityID])
REFERENCES [dbo].[Facility] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Slots] CHECK CONSTRAINT [Slots_Facility_FK]
GO
USE [master]
GO
